<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/carrusel.css')}}">
  <title>Document</title>
</head>

<body>
  <div class="relative min-h-screen overflow-hidden bg-white">
    <img src="" alt="" class="absolute left-1/2 top-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308" />
    <div class="relative bg-white shadow-xl ring-1 ring-rose-700/5">
      <nav class="px-4 py-4 sm:flex sm:items-center sm:justify-between bg-rose-700">
        <section class="flex justify-between">
          <button class="text-gray-700 sm:hidden">
            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100"
              height="100" viewBox="0 0 50 50">
              <!--ícono de "hamburguesa" o "menú"-->
              <path
                d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z">
              </path>
              <!--ícono de "hamburguesa" o "menú"-->
            </svg>
          </button>
        </section>
        <div class="flex flex-col items-start mt-3 gap-2 sm:flex-row sm:m-0">
          <button
            class="text-stone-50 hover:bg-stone-50 w-full text-left px-2 rounded hover:text-stone-50">Blog</button>
          <button class="text-stone-50  w-full text-left px-2 rounded hover:text-stone-50">Docs</button>
          <button
            class="text-stone-50 hover:bg-stone-50 w-full text-left px-2 rounded hover:text-stone-50">Contacto</button>
        </div>
      </nav>
    </div>
    <!-- Carrusel -->
    <div class="carousel-container relative">
      <div class="carousel-inner">
        <div class="carousel-item bg-blue-500 text-white flex items-center justify-center h-64">Slide 1</div>
        <div class="carousel-item bg-green-500 text-white flex items-center justify-center h-64">Slide 2</div>
        <div class="carousel-item bg-red-500 text-white flex items-center justify-center h-64">Slide 3</div>
      </div>
      <button id="prev"class="absolute left-0 top-1/2 transform -translate-y-1/2  text-white px-4 py-2"></button>
      <button id="next"class="absolute right-0 top-1/2 transform -translate-y-1/2  text-white px-4 py-2"></button>
    </div>
    <!-- Fin de Carrusel -->
     
    <!-- Incluir el archivo JavaScript -->
    <script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>
</body>

</html>